body {
    background-color: red;
}
.first {
    height: 500px;
    width: 100px;
    background-color: black;
    transform: translateY(140px);
    margin-right: 500px;
}
.second {
    height: 100px;
    width: 300px;
    background-color: black;
    margin-top: -360px;
    transform: translateX(660px);
}
.third {
    height: 500px;
    width: 100px;
    background-color: black;
    transform: translateY(-100px);
    margin-left:1100px;
}
.fourth {
    height: 100px;
    width: 300px;
    background-color: black;
    margin-top: -200px;
    transform: translateX(900px);
}
    

    

